# Ignore Python virtual environments
venv/

# Byte-compiled / cache files
__pycache__/
*.py[cod]

# Flask environment variables
.env

# Ignore VSCode config folders
.vscode/

# Ignore Instance files
instance/